<!-- 
Student IDs: 
  - 301129935
  - 301136902
  - 301180926
  - 301166198
  - 301134374
  - 301153049
WebApp name: Survey Site
Description: Back End View - index.ejs
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %> 

<!--Main Content-->
<main class="container" style="background-color: gray;">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %></h1>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>




